## Sample .travis.yml file for use with metacran/r-builder
## See https://github.com/metacran/r-builder for details.

language: c
sudo: required

before_install:
  - curl -OL https://raw.githubusercontent.com/metacran/r-builder/master/pkg-build.sh
  - chmod 755 pkg-build.sh
  - ./pkg-build.sh bootstrap

install:
  - ./pkg-build.sh install_deps testthat matrixStats knitr markdown png circlize

bioc_packages:
- GenomicRanges
- genefilter
  - ./pkg-build.sh install_github ComplexHeatmap


after_failure:
  - ./pkg-build.sh dump_logs
  
env:
  matrix:
    - RVERSION=release
