export(EnrichedHeatmapList)
export(enriched_score)
exportMethods(draw)
export(+.AdditiveUnit)
exportClasses(EnrichedHeatmap)
export(EnrichedHeatmap)
export(normalizeToMatrix)
exportClasses(EnrichedHeatmapList)
export(EnrichedHeatmapList)
export(makeWindows)
export(EnrichedHeatmap)

import(grid)
importFrom("methods", setClass)
importFrom("methods", setMethod)
importFrom("methods", setGeneric)
import(GenomicRanges)
import(IRanges)
import(ComplexHeatmap)

