export(EnrichedHeatmapList)
exportMethods(show)
export(enriched_score)
exportMethods(draw)
export(anno_enriched)
export(+.AdditiveUnit)
exportClasses(EnrichedHeatmap)
export(EnrichedHeatmap)
export(normalizeToMatrix)
export(makeWindows)
exportClasses(EnrichedHeatmapList)
export(EnrichedHeatmapList)
export(EnrichedHeatmap)

import(grid)
importFrom("methods", setClass)
importFrom("methods", setMethod)
importFrom("methods", setGeneric)
import(GenomicRanges)
import(IRanges)
import(ComplexHeatmap)
importFrom("matrixStats", colSds)

